---
# SPDX-FileCopyrightText: 2025 The Linux Foundation
# SPDX-License-Identifier: Apache-2.0

name: 'Release Drafter'

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  # pull_request is required for autolabeler
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  # pull_request_target is required for autolabeler on PRs from forks
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  update_release_draft:
    permissions:
      # write permission is required to create releases
      contents: write
      # write permission is required for autolabeler
      pull-requests: write
    runs-on: ubuntu-latest
    timeout-minutes: 10 # Increase this timeout value as needed
    steps:
      # yamllint disable-line rule:line-length
      - uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
        with:
          egress-policy: audit

      # yamllint disable-line rule:line-length
      - uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
